[2015-06-29 19:55] soffes opened #2 "Add `TableViewController`"

[2015-06-29 19:55] soffes opened #3 "Add documentation to readme"

[2015-06-29 19:56] soffes opened #4 "Add new Xcode 7 UI tests"

[2015-06-29 19:57] soffes opened #5 "Add podspec"

[2015-07-09 17:56] #4 closed, assigned to nobody

[2015-07-09 17:58] #2 closed, assigned to soffes

[2015-07-09 20:02] #5 closed, assigned to nobody

[2015-07-09 22:17] #3 closed, assigned to soffes

[2015-07-16 04:14] cassidoo opened #22 "Logo for repo"
![static](https://cloud.githubusercontent.com/assets/1454517/8715434/f5fa23c6-2b4f-11e5-9d4e-dcfed9d9a645.png)

I thought it might be cool to have more of our repos have logos (the way Slather and Synx do), so I tried my hand at it.  Bueno?  Suggestions?

[2015-07-16 04:16] soffes commented on #22
Super cool!

[2015-07-16 04:37] ayanonagon commented on #22
Whoa this is super cool @cassidoo! :100:

[2015-07-16 12:30] ryanworl opened #23 "Eliminate context property to improve type safety by making Row a protocol"
I played around with this idea a bit this morning but it isn't fully baked yet and I'm definitely not a Swift generics expert, but what do you think about this:

1. Add a new protocol (RowType?) with all the current properties of Row, minus the context property.
2. Make Row implement RowType.
3. Sprinkle in RowType everywhere Row current exists outside of the Example project (this is where I ran i

[2015-07-16 20:55] soffes commented on #23
I actually started down this route, but it got complicated quickly. The main reason is you can't make `RowType` equatable. For example something like `TextFieldRow` can't be compared with `Row` since they are different types all together. Maybe we can drop equatable and do it with protocols instead.

I thought `context` as a bit better. `WKInterfaceController` uses contexts. That's where I got the

[2015-07-16 22:15] ryanworl commented on #23
Why wouldn't Equatable work with RowType? Assuming you stick with just comparing UUID strings like the current implementation, I don't see a problem.

And about separating concerns, the example I was thinking about would be a cell with three labels and a VM with three strings of text. Conceivably there could be many cells displaying those three strings depending on the context and the VM doesn't r

[2015-07-16 22:16] soffes commented on #23
You can't equate a protocol. Try implementing it ;)

Ya that's fair. I'd love to have this if you can make it work. Properties are better than context any day

[2015-07-16 22:36] ryanworl commented on #23
That's annoying! I wrote it out this morning as `func ==<T: RowType>(row: T, other: T)` thinking it would work when the compiler didn't complain. Actually trying to use it doesn't work though. That's rough.

[2015-07-16 23:13] soffes commented on #23
Yep. Makes sense though. Say you had a protocol like `Accountable` that required a `var account: Account { get set }` property or something. If you made a `UIView` subclass called `AvatarView` conform and then made `Double` conform it's total nonsense to compare a `Double` and `AvatarView`. I see why they picked to make it work this way, but it's definitely frustrating in this case.

[2015-07-17 03:27] ayanonagon commented on #22
Thanks for the PR @cassidoo! :blue_heart:

[2015-07-17 03:27] #22 closed

[2015-07-26 01:42] mokagio opened #27 "`tableView:cellForRowAtIndexPath` not called"
Hello, I really like this library. Solves a known problem in a really tidy way, kudos.

I was just having a play around when I found what might be an issue... My usual setup for table views is a `UIViewController` to which a `UITableView` is added, either via IB or code. The reason for that is that I prefer having full control on the view, rather than relying on `UITableViewController`.

The code

[2015-07-26 23:28] hyperspacemark commented on #27
Short answer: You need to retain your instance of `DataSource`.

Long answer: The initializer for `DataSource` will assign itself to `tableView.dataSource`, but that is a weak property and without another object retaining ownership, it will be deallocated. In your example, the instance of `DataSource` you're creating will be deallocated at the end of `viewDidLoad()`.

It's surprising that you saw

[2015-07-27 00:14] mokagio commented on #27
![](https://pbs.twimg.com/profile_images/3483499580/01e5c771e94e14708c5f2638f14a0d77.png)

Yep, that makes absolute sense! Derp.

Thanks heaps :beers:

[2015-07-27 00:14] #27 closed

[2015-07-27 19:59] soffes commented on #27
Great explaination @hyperspacemark :)

[2015-07-29 21:20] eliperkins opened #29 "Calling methods on TableViewController in init causes unexpected behavior"
[code]

causes

[code]

Seems like we need to make sure that either cells can be registered earlier or that we don't mess with the table view before we've got registered cells.

[2015-08-27 00:22] paulbruneau opened #34 "Xcode beta 6"
My teammate tells me there are beta 6 issues. I'll look at them unless you folks are already working on them. Any news? Thank you.

[2015-08-27 01:34] ayanonagon commented on #34
Can you elaborate on the Beta 6 issues? We’re using beta 6 as well and have not seen any issues so far.

[2015-08-27 14:55] paulbruneau commented on #34
Thanks, I have looked and I think this might be the only one, pretty straightforward fix:

<img width="627" alt="screen shot 2015-08-27 at 10 55 28 am" src="https://cloud.githubusercontent.com/assets/978400/9523904/2cc4bcc4-4caa-11e5-9a41-ccba57c09228.png">

[2015-08-29 02:34] #34 closed

[2015-09-23 10:50] dillidon opened #42 "How to implement a custom cell with .xib and variable height?"

[2015-09-23 12:10] #42 closed

[2015-09-23 12:13] dillidon opened #43 "How to implement a custom cell with .xib and variable height?"

[2015-10-09 16:26] Valpertui commented on #43
See https://github.com/venmo/Static/pull/45

[2015-10-10 01:30] jingx23 opened #46 "Please update podspec to 0.2.0"
Podspec points to 0.1.5 but latest release is 0.2.0.

[2015-10-12 06:17] dillidon commented on #43
thanks a lot)

[2015-10-12 12:27] dillidon commented on #43
ok, how to implement function or to change variables inside custom cell such as custom selection?
could you add switch as accessory with selection, which can add or remove sections and rows?

[2015-10-12 13:33] #46 closed

[2015-10-12 13:34] eliperkins commented on #46
Ah! Nice catch. Sorry about that @jingx23. Thanks@intelliot!

[2015-10-12 15:28] gizcloud opened #49 "fatalError("init(coder:) has not been implemented")"
I installed Static by cocoapods. when I try to run it ,it crashed in this line:
fatalError("init(coder:) has not been implemented")

I don't know why.

[2015-10-12 15:34] eliperkins commented on #49
Are you creating a Static view controller with Interface Builder? Static does not currently support Interface Builder, which calls into `init(coder:)`.

[2015-10-14 17:50] calebd opened #50 "TableViewController clear selection bug"
`TableViewController` exhibits the same problem that `UITableViewController` does when attempting to clear selection during an interactive "go back" gesture. It just doesn't clear sometimes. It's even stranger if you cancel the gesture. I used this logic before switching to static to resolve the issue: [gist](https://gist.github.com/calebd/e6246d416b12c52c7fa5). It would be cool if this were integ

[2015-10-15 01:45] gizcloud commented on #49
yes.

[2015-10-15 01:45] #49 closed

[2015-10-16 07:45] dillidon opened #51 "How to implement function or to change variables inside custom cell such as custom selection?"

[2015-10-16 07:46] dillidon opened #52 "Could you add switch as accessory with selection, which can add or remove sections and rows?"

[2015-10-16 12:50] eliperkins commented on #51
Static is meant primarily for implementing _static_ table view cells. Changing properties of a table view cell, done The Static Way™, should be done by creating a new `Row` to create the new cell. You can supply `context` to the cell via the initializer for a `Row`, and then in the custom cell class, implementing `configure(_:)` and using the `context` property to setup your cell should get you mo

[2015-10-16 12:55] eliperkins commented on #52
Again, similar to as you asked in #51, changes in the table view's state should be driven by setting the properties of a `DataSource`, such as creating new `Row` objects. In this case, things get a bit complex with the switch as the accessory and reacting to it's changes, but in the end, whatever function that runs when the switch is toggled should set the `sections` on your `DataSource` to change

[2015-10-16 13:01] eliperkins commented on #50
Ah, I definitely agree that `UITableViewController` has it's quirks. I'm a bit wary of making `TableViewController` do _too_ much. I believe the only reason that Static recreates a `TableViewController` was dues to some bizarre Swift `init()` quirks (see #30).

I'm wondering if `TableViewController` should be built by just adding a child view controller of a `UITableViewController`, but I digress.

[2015-10-16 13:01] eliperkins commented on #43
I'm going to close this in favor of #45

[2015-10-16 13:01] #43 closed

[2015-10-23 17:06] #52 closed

[2015-10-23 17:06] #51 closed

[2015-11-09 09:09] kermankohli opened #59 "Animations when adding cells to data source?"
It'd be really useful if there could be animations for when cells are added to the data source through: self.dataSource.sections[0].rows.insert

Particularly useful for date pickers and drop down inputs:)

[2015-11-23 04:00] soffes commented on #50
I agree with @eliperkins. I think using the system defaults is best, but fixing a common bug that most would workaround seems worth it to me.

(Related to #62)

[2015-11-23 04:03] soffes commented on #29
This has been fixed for awhile. I verified this is no longer an issue using 9067f76d039506b88f7b8dd29accae22bb650722.

[2015-11-23 04:03] #29 closed

[2015-11-23 16:05] eliperkins commented on #59
@kermankohli for sure! This would definitely be an awesome API, but I would place it out of scope of what Static is trying to accomplish, which is simply to provide a value-typed data layer to table views.

I would love to see an approach towards an API like this as an extension of the project, rather than one baked in by default! Keep me posted on if you can come up with a way to accomplish this.

[2015-11-23 16:05] #59 closed

[2016-01-01 23:32] soffes opened #63 "Version 1.0"
I'd love to get a release with #60 but that removes functionality. Should the next version be 1.0? There's a few other breaking changes I'd like to make before we 1.0 (order of initializer params, maybe remove UUID from Row).

Anyway, 1.0 feels like such a big commitment. Are we okay making a breaking change before 1.0 (like CocoaPods :P) and just do 0.3.0 with what's in master and defer the big c

[2016-01-04 16:52] eliperkins commented on #63
Happy New Year! :confetti_ball:

I'm definitely on board with getting to 1.0 soon. I'd love to come to a solution for #23 as well for 1.0, but again, not mission critical, more just a nice to have, but definitely one that'd break our existing API. My big motivation behind this is making `Row` play nice with things like text fields and passing information into `Row` objects, such as backing models.

[2016-01-04 16:58] aashishdhawan commented on #63
:+1:

[2016-01-10 20:54] dasmer opened #64 "TableViewController background color not default"
By default, `TableViewController`'s background color should be the same as Apple's `UITableViewController`'s (greyish) default background color. Instead, it's currently white.

[2016-01-11 17:02] eliperkins commented on #63
Chatting with @hyperspacemark a bit offline, starting to gameplan a bit what this release might look like.

We decided that adding support for table view clearing to `TableViewController` (see #50) is probably a Good Thing™ to get into 1.0 since we've committed to keeping our implementation of `TableViewController` around long enough to support iOS 8.0. Version 2.0 will drop iOS 8, using iOS 9 as

[2016-01-11 17:41] hyperspacemark opened #65 "Allow implementers to decide when selected rows should be deselected"
We currently deselect all rows upon selection in the implementation of `tableView(_: didSelectRowAtIndexPath:)` in `DataSource.swift`.

We should find a way to allow consumers to control when their rows are animated.

Possible solutions:
1. Change the `Selection` typealias to `() -> Bool` where the return types specifies that we want the row to be deselected immediately. This doesn't allow us to s

[2016-01-11 20:06] #50 closed

[2016-01-14 13:09] flexih opened #68 "Question:How to override func configure(row row: Row) in protocol CellType"

[2016-01-15 03:24] flexih commented on #68
@eliperkins

[2016-01-15 09:07] #68 closed

[2016-01-15 15:30] eliperkins commented on #68
The goal is not to _override_ `configure(_:)`, actually, but rather to have your class _implement_ it. You can see an example of implementing `configure(_:)` here: https://github.com/venmo/Static/blob/0b89f36f33fdd4ae0593830a01e69f5452d9cba3/Example/CustomTableViewCell.swift

[2016-01-16 14:47] aashishdhawan opened #70 "Redundant function."
The function `private func refreshTableSections(oldSections: [Section]? = nil) {` in `DataSource.swift` seems pretty much redundant to me.

It is private function and only being called once in the project and that too without any parameter which causes an early return.

Therefore is just`reloadsData` and nothing else.

I think this is left over from an old code refactoring. What do you think @soff

[2016-01-21 19:46] hyperspacemark commented on #65
Fixed by #67

[2016-01-21 19:46] #65 closed

[2016-01-22 08:16] aashishdhawan opened #73 "Redundant if block?"
This issue is related to function `refreshRegisteredCells` in `DataSource.swift`.

I am wondering why following block of code is added in this `refreshRegisteredCells` function.

[code]

are we not convinced that  following piece of code will do its job?

[code]

I think following implementation is sufficient

[code]

Am i missing something here?

[2016-01-29 22:31] dillidon opened #75 "Reload Rows At Index Paths?"
Hi,
How can I refresh tableRow or change text of textLabel in the nib or in whole tableView?
tableView.reloadRowsAtIndexPaths - don't work
tableView.reloadData - dont work

[2016-02-01 16:28] irace opened #76 "Please add to the CocoaPods specs repository"
Why is Static not versioned in the CocoaPods specs repository? This makes it impossible for other pods to depend on it.

[2016-02-01 17:00] eliperkins commented on #76
Whoops! Not sure how that one hasn't happened yet. This library was put together before Cocoapods was accepting Swift-based pods to Trunk.

I just pushed, it should be there now! https://github.com/CocoaPods/Specs/commit/5e9f1a362c3332dbdb84ce5a492d3d41f42aaecf

[2016-02-01 17:00] #76 closed

[2016-02-02 14:43] irace commented on #76
Thanks!

[2016-02-02 14:56] chrismanderson opened #78 "Modify delegate methods on DataSource?"
Framework is a strong piece of work, thanks for sharing it! One of those things I wish was built into iOS itself.

Have a usage question for you all (that might end up just being a Swift question, but still!) - is there a way to add or modify the `UITableViewDelegate` methods on `DataSource`? (https://github.com/venmo/Static/blob/master/Static/DataSource.swift#L260).

For example, I'd like to be a

[2016-02-11 06:28] flexih commented on #68
Found the reason, if SomeCellClass inherits Value1Cell, it's impossible to "override" configure(:) in CellType. @eliperkins

[2016-03-04 06:45] calebd opened #79 "Add tvOS target."

[2016-05-04 15:37] tomaskraina opened #80 "Support copy action"
By implementing the following methods from `UITableViewDelegate` protocol:

[code]

[2016-06-22 21:36] istx25 opened #82 "UITextField and UISwitch support?"
I'm not sure if this is already built into Static or if I would have to build it myself. Either way, I would like to have a couple rows with a `UITextField` and/or a `UISwitch` in them. I noticed that we can provide our own cell type, but from what I gathered it was too limited? Help?

[2016-06-22 21:53] soffes commented on #82
You can implement this with a custom cell.

[2016-06-22 21:53] #82 closed

[2016-06-23 18:52] chrismanderson opened #83 "Swift 3.0"
Would love to see this working with Swift 3/Xcode 8! Happen to have a rough idea of if/when that might happen?

[2016-08-17 18:17] chrismanderson opened #85 "Podspec out of date with latest version"
While the latest tagged version is 1.1.1, the latest version referenced in the podspec is only 1.0.0.

[2016-08-17 18:19] hyperspacemark commented on #85
Good catch. We don't use CocoaPods internally so we often forget this. Feel free to submit a PR and I'll push it to the CP trunk.

[2016-08-17 18:25] chrismanderson commented on #85
PR submitted!

[2016-08-17 18:27] #85 closed

[2016-08-17 18:48] hyperspacemark commented on #85
Pushed to trunk.

[2016-08-22 16:01] eliperkins commented on #63
1.0 was released!

[2016-08-22 16:01] #63 closed

[2016-08-22 16:02] eliperkins commented on #75
You'll need to change the `Row` that is backing the `CellType`.

[2016-08-22 16:02] #75 closed

[2016-08-22 16:04] eliperkins commented on #78
I think your second solution, with some mix of composition, would be the best way down this path. Having your data source call into a `Static.DataSource` for those specific methods would allow you to combine two different functionalities.

However, I think not having access to `tableView:willDisplayHeaderView:forSection:` is definitely a downer... I'm wondering if there are better solutions here f

[2016-08-22 16:07] eliperkins commented on #83
I think we summed up our Swift 3 migration strategy in #84!

[2016-09-08 17:22] eliperkins commented on #83
Reopening this issue as the GM was released yesterday! 🎉

One thing I would like to support, moving forward, is still maintaining a version with Swift 2.3 support, theoretically `v1.2.0`. Then, we should be able to migrate to Swift 3 and name the version `v2.0.0`.

I think libraries like [thoughtbot/Argo do an awesome job of this](https://github.com/thoughtbot/Argo#version-compatibility) using a "

[2016-09-08 17:39] eliperkins commented on #83
Additionally, the `swift-23` branch needs no changes to run on Xcode 8 GM with Swift 2.3.

[2016-09-09 13:18] soffes commented on #83
@eliperkins I have full Swift 3 support in my fork. Happy to PR.

If it were solely up to me, I'd skip 2.3 and just do 3.0 with a minor (or major?) version bump.

[2016-09-09 14:50] eliperkins commented on #83
Yeah, I don't mind going right to Swift 3.0 moving forward, but it'd be nice to point to a tag for Swift 2.3 people (us included 😬 ) in the meantime. I think the intention of the major bump was due to  binary incompatibility if you were consuming it with Carthage and resolving to `~> 1.0`. By bumping right to `v2.0.0` with Swift 3, we can kinda get around it.

I don't feel too passionately about w

[2016-09-09 19:49] hyperspacemark commented on #83
I'm in favor of a major version bump for Swift 3 because we're not where ready to upgrade and still selfishly need a tag for Swift 2.3

[2016-09-11 00:47] txaiwieser opened #89 "private func refreshTableSections(oldSections: [Section]? = nil) { guard let tableView = tableView else { return } guard let oldSections = oldSections else { tableView.reloadData() return }"
First, thanks for sharing this framework, its really great!

Have a question for you all. I was looking into the code framework to see how it would be the best way to animate the rows insertions and found that there is a private method called refreshTableSections:oldSections, with a default argument nil.
This functions has a guard statement that always calls reloadData() if the argument is nil.

A

[2016-09-11 03:45] rx2130 opened #90 "Adding cells with different row height"
Can we add the cells with different row height into the demo? Since I haven't dealing with constraint in code before and I believe I'm not the only one out there trying to figure this out :)

[2016-09-14 12:24] txaiwieser opened #92 "DetailButton sender, presenting a popover viewcontroller"
Hello! Thanks again for sharing this!
I'm trying to present a view controller with a Popover style when the user touches the DetailButton inside a cell.
The thing is i haven't found yet a solution to get the sourceRect or the accessoryView itself.

[code]

[2016-09-20 17:18] #83 closed

[2016-09-20 17:19] eliperkins commented on #83
Swift 3 has landed on master! Version 2.0 bump incoming, next.

[2016-09-23 11:13] txaiwieser commented on #92
Wondering if there is a way to access the Cell/Row from inside selected/accessory.
So instead of
`public typealias Selection = () -> Void`
It would be something like this:
/// Row or Accessory selection callback.
`public typealias Selection = (cell: UITableViewCell) -> Void`

[2017-01-03 23:33] calebd commented on #92
I would also like this. I have to map `Row`s to `IndexPath`s to solve this otherwise.

[2017-02-05 20:29] Shadester opened #98 "NSLocalizedString support"
How do you do localization for this?

[2017-02-06 15:05] eliperkins commented on #98
Localized stings can be passed into any initializer that accepts strings as arguments, such as `Section.init` and `Row.init`. For example:

[code]

[2017-02-06 16:47] Shadester commented on #98
It gives errors on that:

![capturfiles](https://cloud.githubusercontent.com/assets/869974/22656681/ed6eb288-ec48-11e6-96de-d85f22d6216c.png)

[2017-02-06 19:46] eliperkins commented on #98
Ah, my apologies. I was typing from memory. This should work just fine:

[code]

[2017-02-06 19:46] #98 closed

[2017-04-09 20:04] rlam3 opened #99 "How do I center the text inside of the cell/row?"
How do I center the text inside of the cell/row?

[2017-04-10 15:01] eliperkins commented on #99
This can be done using the `.default` `UITableViewCellStyle` (https://developer.apple.com/reference/uikit/uitableviewcellstyle) if you only want vertical alignment.

To center the label horizontally, you can create a custom `UITableViewCell`, like is done in the example: https://github.com/venmo/Static/blob/321e997b9c2edc5d38aa0b007f2861ba457f13ed/Example/CustomTableViewCell.swift

[2017-04-10 15:01] #99 closed

[2017-04-12 22:14] rlam3 opened #100 "Tried to create a logout button but it doesn't work after exiting the app."
I created a Section with a Row to enable the viewcontroller to be dismissed. This works when it is a fresh login and log out.

However the problem is when I exited and quit the app and went back in to logout. It didn't trigger any actions at all.

Currently the app has a tabviewcontroller and a navigationcontroller embeded... What could possibly tripping up with the dismiss? Thanks!

[code]

[2017-04-13 16:02] eliperkins commented on #100
I'm not sure this is enough information for us to create a helpful bug report for you. Do you have more code you can share, perhaps extracted out into a sample project, so that we can debug this more?

My first instinct is that the `self` you're referencing in your section is being deallocated on your "login and log out", or that your scoping of `self` is off. I would try creating a function that

[2017-04-13 16:02] #100 closed

[2017-04-25 14:48] rlam3 commented on #100
@eliperkins Is there a way for me to set Row's text with a nslocalizable string?

[2017-04-26 19:03] rlam3 opened #102 "How do I localize the string of header and row titles?"
How do I localize the string of header and row titles?
I keep getting the following error...

![screen shot 2017-04-26 at 2 02 54 pm](https://cloud.githubusercontent.com/assets/1154044/25451831/1508e6aa-2a89-11e7-945c-bf0b947cff92.png)

[2017-04-26 19:17] rlam3 commented on #102
Found what I was looking for in older issues.

https://github.com/venmo/Static/issues/98

However why do we have to do a ".title()" for the header but not the rows?

[2017-05-01 15:50] eliperkins commented on #102
@rlam3: This is because `Header` is an enum of either a `.view` or a `.title`: https://github.com/venmo/Static/blob/321e997b9c2edc5d38aa0b007f2861ba457f13ed/Static/Section.swift#L11

[2017-05-01 15:50] #102 closed

[2017-06-29 23:23] nealyoung opened #105 "Blank section headers are displayed under iOS 11"
It looks like blank section headers/footers are being shown on devices running iOS 11 (as of beta 2) when a `Section` is initialized with `nil` as a header/footer extremity.

The below screenshots were taken with the example project after changing the value of the `header` parameter of the first section to `nil`.

| iOS 10 | iOS 11 |
| ------ | ------ |
| <img width="432" alt="screen shot 2017-06-

[2017-06-30 14:18] eliperkins commented on #105
Interesting! Is this a change with iOS 11 itself? That is, even without this library, this is the functionality you'd get when returning nil from `titleForHeaderInSection`?

If so, I'm wondering if this is something we should explicitly handle in this library, if this is still the functionality UIKit would provide anyway.

[2017-06-30 21:16] nealyoung commented on #105
I just did a quick test with a simple table view/data source/delegate and it doesn't appear that the `titleForHeaderInSection` behavior has changed in iOS 11. When I return `nil`, no header is displayed, and returning a string shows the default header with the provided title.

[2017-07-01 05:28] nealyoung commented on #105
Potentially relevant snippet from the iOS beta release notes:

I'm not sure if it's the best solution, but as a workaround, setting the estimated heights has restored the correct behavior on iOS 11 and doesn't appear to cause any problems on iOS 10:

[code]

[2017-07-06 14:55] eliperkins commented on #105
Ah, I wonder if we should turn this on in `Static.TableViewController` then.

@soffes @hyperspacemark @venmo/ios and crew, have y'all ran into a similar issue with this on iOS 11 as well?

[2017-07-06 14:57] soffes commented on #105
Seems reasonable 🤷🏻‍♂️ I feel bad changing defaults, but the whole point of Static is you don't have to think about table view details so maybe its good?

[2017-07-06 22:45] hyperspacemark commented on #105
This is our bug. In the `tableView(_: heightForXXXInSection:)` methods, we're providing the height of the optional extremity and nil coalescing to `UITableViewAutomaticDimension`. That was probably a bad choice; I just confirmed that nil-coalescing to 0 works as intended.

@nealyoung Would you mind submitting a PR to that effect?

See:
* https://github.com/venmo/Static/blob/master/Static/DataSourc

[2017-07-06 22:57] nealyoung commented on #105
@hyperspacemark Thanks for the help! I'll submit a PR tonight.

[2017-07-10 18:28] eliperkins commented on #105
Related from today's [iOS 11b3 Release Notes](https://download.developer.apple.com/Documentation/Beta_Release_Notes_Jul_10_2017/iOS_11_beta_3_Release_Notes.pdf)

heights for rows, section headers, and section footers, and may not self-size by default.
(32188814)
Workaround: Set the table view `rowHeight`, `sectionHeaderHeight`, or
`sectionFooterHeight` to `UITableViewAutomaticDimension` after the

[2017-07-31 18:43] nealyoung commented on #105
@hyperspacemark It looks like nil-coalescing to 0 doesn't work with a `title` extremity (`viewHeight` is nil without a custom view, so the method returns 0), but something like this fixes the issue and works properly under iOS 10 and 11:

[code]

Let me know if that works for you. If so, I'll submit a PR with the changes.

[2017-07-31 19:35] eliperkins commented on #105
@nealyoung What do you think about updating the `viewHeight` computed var to switch on `.title` and `.view`, and only return the view's height on custom headers?

Additionally, we could return `UITableViewAutomaticDimension` for `.title` there as well and make it a non-optional property.

[2017-08-08 01:04] nealyoung commented on #105
@eliperkins Just submitted a PR with your suggestions!

[2017-08-08 23:07] #105 closed

[2017-09-12 14:11] txaiwieser opened #112 "Targets built with coverage data in Xcode 9"
One of my test builds I just submitted to iTunes Connect (built with Xcode 9) failed processing with the following message:

[code]

This is caused by this issue. The new Xcode seems to build coverage data into all builds, not only for testing. From the changelog:

[code]

When building frameworks during the "Archive" action Xcode seems to handle that. But since Carthage dependencies are built ext

[2017-10-11 17:36] rlam3 opened #116 "Unable to install latest version."
Unable to install latest version. Has this been updated through cocoapods? Thanks.

[2017-10-16 15:23] hyperspacemark commented on #116
2.2.0 is now available via Cocoapods.

[2017-10-16 15:23] #116 closed

[2017-11-03 22:21] rlam3 opened #117 "How to fix navigation bar?"
I'm trying to use SafariServices with Static but whenever I try to navigate to a safariviewcontroller, the safari navigation is also present. What is the recommended way to fix this issue?

![screen shot 2017-11-03 at 5 10 42 pm](https://user-images.githubusercontent.com/1154044/32397964-523418b6-c0ba-11e7-87c6-2cf2af14f424.png)
![screen shot 2017-11-03 at 5 10 50 pm](https://user-images.githubuse

[2017-11-16 22:33] rlam3 opened #118 "Is this repo supported?"
Is this repo supported?

[2017-11-17 15:57] eliperkins commented on #117
This is not an issue with this library, but rather with calling `show(_:)` with a `SFSafariViewController`. [Prefer using `present(_:)` instead](https://stackoverflow.com/questions/32604411/how-to-push-sfsafariviewcontroller).

[2017-11-17 15:57] #117 closed

[2017-11-17 15:57] eliperkins commented on #118
Yes.

[2017-11-17 15:57] #118 closed

[2017-11-21 19:29] jaredegan commented on #78
I believe my PR solves this in the best way: #119

[2018-01-19 00:40] Avighnash commented on #90
I'm looking for a way to do this as well ^^

[2018-01-19 00:42] dmiluski commented on #90
@rx2130,for dynamic sized cells, create cells with constraints on top/bottom, then set estimatedRowHeight to something near your goal. This provides the table view with the context that you want to use autosized cells.

[2018-01-24 14:09] onmyway133 opened #121 "Why do you call it Static?"
Correct me if I'm wrong, you name the repo as "Simple static table views for iOS in Swift". I read the code https://github.com/venmo/Static/blob/master/Static/DataSource.swift and it's just a very simple wrapper around `UITableViewDataSource`. It is apparently just tableview with dynamic cell recycling.

I would expect it to behave like `UITableViewController` in Storyboard which has static cell.

[2018-01-24 16:00] eliperkins commented on #121
I'm sure @soffes can chime in with the true origin stories of the name, but I would certainly say that the true meaning of the name and the current state of the project have definitely diverged.

When Static started, it truly was for only Static table views. It was a simple declarative API for creating static rows in a `UITableView` for things like a Settings screen, where the same hardcoded data

[2018-01-25 10:35] onmyway133 commented on #121
@eliperkins Thanks, I get it. I think this is a nice abstraction

[2018-01-25 17:51] soffes commented on #121
Exactly, @eliperkins. @onmyway133 here's my blog post from when it was created: https://soffes.blog/static

The goal of static was to make creating a bunch of cells easy without a bunch of switch statements in cell for row, did select, etc.

[code]

That would be a ton of code if you were to do it in the conventional way. At Venmo when we created this, we weren't using IB and this solved a need we

[2018-01-25 17:51] #121 closed

[2018-06-01 09:27] m-ruhl opened #126 "CocoaPods release?"
Hello,

The current CocoaPods release is still `2.3.0` even if `2.5.0` is available.
Are you releasing the current version as pod?

Thanks
Michael

[2018-08-17 10:31] teawithfruit opened #127 "Seperate table initializer and view handling"
Hello,
Is it possible to split the initializer logic and the view handler in different classes?

Right now, I'm trying something like this to initialize the table
[code]

And both of the following to add the table to the screen.
[code]
[code]
There is no error, but there is also nothing been added to the screen.
What do I have to do, to split the table initializer from the view handler?

Thanks

[2018-08-20 20:39] eliperkins commented on #127
(You can use `DataSource` directly with any table view](https://github.com/venmo/Static#working-with-the-data-source). Using `TableViewController` is not a strict requirement, but rather just a nicer API.

When using `TableViewController` as a child view controller, make sure that you constrain `tableView.view` using autolayout or give it a proper frame. I'd recommend looking at the view debugger

[2018-08-20 20:39] #127 closed

[2018-09-11 15:43] JulianoGouveiaS opened #128 "Search Bar"
How do i implement a search bar?

[2018-09-11 16:52] dmiluski commented on #128
Hi @JulianoGouveiaS ,

Historically, Static was created to display static content. But under the hood, it is driven by a model which can be mutated, and updated to display a cell with a new state/content.

Given this foundational support, you as the developer can modify that model to suit your needs.

eg.
Add searchBar wherever you want. Wire that up to mutate the model.

[2018-09-27 17:13] cocoahero commented on #126
@dmiluski any chance we can get CocoaPods bumped for the Swift 4.2 version as well? 🙂

[2018-09-27 17:32] dmiluski commented on #126
Sorry for the delay, I haven't been a cocoa pods user since moving to Carthage, so needed to do some reading to support.

[2018-09-27 17:40] dmiluski commented on #126
https://github.com/venmo/Static/pull/132

[2018-09-27 18:49] cocoahero commented on #126
Thanks for all the help @dmiluski!

[2018-11-14 12:28] n3d1117 opened #135 "Row with SwitchAccessory loses its state after scrolling the table"
Hello!

I am using a Row with UISwitch as seen in the example project [here](https://github.com/venmo/Static/blob/aff7d21885af405c130ba689b2a88a9ad37611de/Example/ViewController.swift#L58).
However when scrolling down the table and then up again, the switch loses its `on` state.

Tested straight from example project:
<p align="center"><img src="https://user-images.githubusercontent.com/11541888/48

[2018-11-14 18:59] dmiluski commented on #135
Hi @n3d1117 , this is likely due to cell reuse/dequing/prepareForReuse.

Although you are initiating Row with an accessory "switchToggle(value:)", since this value is a struct rather than var, it doesn't change. So your row is still referencing an old boolean value.

To Update to support with current Static implementation:
You may replace this row/update accessory with a newly generated Row Item?

[2018-11-15 14:09] n3d1117 commented on #135
Hi @dmiluski ! Thanks for your answer.

Would be the best place to update the row/accessory for this particular type of row?  I tried hooking `willDisplayCell` or `cellForRow` using the `context` property to pass the updated bool, but of course it wouldn't work because the context received still holds the outdated value.

This works, although it feels bad to reload the row just because switch valu

[2018-11-15 19:20] dmiluski commented on #135
From what I understand this Repo began as a way to quickly render/show a static set of cells. It did evolve to allow for mutation, but it's not quite beneficial for that just yet in terms of something like a form without reloading the section.

It was only recently that a switch support was added, and consideration into this use case may have been overlooked. Funny enough, just looking through my

[2018-11-15 19:30] dmiluski commented on #135
Hm.. wondering if there's a way to add a row mutating closure which could update your model and play friendly with tableView refresh/reload.

[2018-11-15 22:51] dmiluski commented on #135
What's available:
SwitchAccessory
Static.Cell Protocol

Potentially:
What you might be able to do is to carry state in the context property? And use that context property to configure. Where "SwitchModelProvider" is a reference type which can be mutated.

[code]

[code]

[code]

This way, you don't need to refresh the full table. And the only item that is mutated is in context, which is only re-ap

[2018-11-16 11:42] n3d1117 commented on #135
It worked! Somehow I tested the same thing yesterday, but using Bool directly (which is a value type and not a reference type), so it didn't work. Using a class did the trick!
Here's what I got so far:

[code]

[code]

In ViewController:

`var prov: SwitchModelProvider = SwitchModelProvider(on: false)`

[code]

Works great! The only downside is that SwitchCell now needs to be aware of what propert

[2018-11-21 23:37] dmiluski commented on #135
Looks very cool.

Improvements:
While continuing to think about this. Wondering if we could bind the switch to the model with KVO/KeyPath? Providing the model change/update observation? That way the switch updates the model, and model changes update the cell?

As for separate Cell vs Accessory, I think they both serve their own purposes. I think in this particular case the cell may be preferable o

[2018-11-24 05:06] change2hao opened #138 "UISlider support?"

[2018-11-24 11:06] change2hao opened #139 "Fatal Bug!!!"
in the demo, when I put more than one
`Row(text: "Custom View", accessory: .view(customAccessory), accessibilityIdentifier: "CustomView")`
the app will pending forever

[2018-11-25 23:19] n3d1117 commented on #135
Hi again @dmiluski! Using KeyPaths I came up with this:

[code]

And then declare the row like this:

`Row(text: "UISwitch", cellClass: SwitchCell<SwitchModelProvider>.self, context: ["model": prov, "keyPath": \SwitchModelProvider.isOn])`

It seems to work! The cell now automatically updates the model when switch value changes. What do you think?

[2018-11-26 16:52] eliperkins commented on #138
UISlider can be added using a custom table view cell. Since supporting UISlider is not something that UITableView needs to be concerned about, I don't believe this will ever be a first-class feature within Static.

[2018-11-26 16:52] #138 closed

[2018-11-26 16:53] eliperkins commented on #139
I'm not sure what you mean about "pending forever." Can you share some more code to reproduce this?

[2018-11-26 16:55] eliperkins commented on #135
Nice solution, @n3d1117! I think we've been struggling with the `context` API for some time, but this gives some nice type safety.

[2018-11-26 22:49] dmiluski commented on #135
Second @eliperkins 's comment, very cool. I'd be happy moving forward with this.

@eliperkins any thoughts on constant keys for context in this case as it requires a pair to exist?

[2018-11-26 23:59] dmiluski commented on #139
Hi @change2hao :

 I just ran the example app locally, and by adding a copy of the CustomView row you mention above just after the existing one I also see an app appear to freeze upon scrolling to reveal the duplicated row which was off screen.

It turns out the hang is the attempt to include the same instance of a view in two separate cell accessories:
https://github.com/venmo/Static/blob/f8867ec

[2018-11-26 23:59] #139 closed

[2018-12-12 14:10] linkfei opened #140 "When I customize a cell and add a textField control, how do I get the text value of textFiel?"

[2019-01-29 22:12] reteps opened #143 "[Question] Change detailText Without Storing Row"
Hi, I am looking for 1 of these things:

+ A way to set `detailText` inside selection
+ Another library with the amazing simplicity, but not just for static tables.

        yp.yearSelected.subscribe(onNext: { year in
            self.settings.year = year
        }).disposed(by: self.disposeBag)

        ...Row(text: "Change Year", detailText: year, selection: {
              self.present(yp, anim

[2019-03-22 14:20] colinhumber opened #145 "Still maintained?"
There are a number of issues from a couple years ago plus PRs ready for review that haven't been looked at in awhile. Just wondering if this library is still being actively maintained.

[2019-07-01 15:50] mliberatore opened #148 "Publish 4.0.0 with CocoaPods"
The latest release available via CocoaPods is `3.0.2` (see https://cocoapods.org/pods/Static). Would it be possible to push the latest podspec to the specs repo so that `4.0.0` could be installed via CocoaPods with a specific version specified?

[2019-07-01 17:23] digimarktech commented on #148
While the 4.0.0 version isn't available via cocoapods at the moment, I was able to use the following line to specify the 4.0.0 version: `pod 'Static', git: 'https://github.com/venmo/Static', tag: 'v4.0.0'`

[2019-07-23 16:22] dmiluski commented on #148
Updated:
https://cocoapods.org/pods/Static

[2019-07-23 16:22] #148 closed

[2019-07-23 17:10] mliberatore commented on #148
Thank you, @dmiluski!